# STA 141B Data & Web Technologies for Data Analysis

### Lecture 5, 23/1/24, Pandas

### Announcements

 - Midterm next week on Tuesday. Sample exam is online.

### Last week's topics

- Memory handling in Python
    - Reference semantics
    - Interning
- Numpy

### Today's topics

 - Pandas
 
### Data Sets

 - `dogs_full.csv`
 - `fluidmilk.xlsx`

### References

 - Python for Data Analysis, Ch. 5, 10
 - [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/), Ch. 3

## Pandas

Pandas is a Python package that provides tools for manipulating tabular data. The name "pandas" is short for "**PAN**el **DA**ta", an econometrics term. Since we're using Anaconda, Pandas is already installed.

Pandas is documented [here](http://pandas.pydata.org/pandas-docs/stable/).

In [3]:
import pandas as pd

### Series

A Pandas Series a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). It is a generalization of a NumPy array.

In addition to elements, every series includes an <b>index</b>.

In [4]:
x = pd.Series([1, 2, 3])
type(x)

pandas.core.series.Series

In [5]:
x

0    1
1    2
2    3
dtype: int64

In [6]:
x = pd.Series([1,2,3], index = ["a", "b", "c"])
x

a    1
b    2
c    3
dtype: int64

A series can be indexed in all of the same ways as a NumPy array, but also by index values. This means a series can also be used like an ordered dictionary (although its keys are not unique).

In [7]:
x[0]

/var/folders/nv/5j9xydr90s30r_9rw5pwhf640000gn/T/ipykernel_37356/3629782281.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x[0]

1

In [8]:
x[0:1]

a    1
dtype: int64

In [9]:
x["a"]

1

In [10]:
x["a":"b"]

a    1
b    2
dtype: int64

In [11]:
x["b":"a"]

Series([], dtype: int64)

In [12]:
x = pd.Series([1,2,3], index = ["c", "b", "a"])
x

c    1
b    2
a    3
dtype: int64

In [13]:
x["a":"b"]

Series([], dtype: int64)

In [ ]:
x["c":"b"]

In [ ]:
x = pd.Series([1,2,3], index = ["c", "a", "b"])
x["c":"b"]

In [ ]:
x = pd.Series([1,2,3], index = ["c", "a", "a"])
x["c":"a"]

A series may have integer indices as well.

In [ ]:
x = pd.Series([1, 2, 3], index = [10, 12, 14])
x

For a indexing series (and as we'll see later, also data frames):

* `[ ]` is by position, name, or condition. **Exception:** for an integer index it's by name or condition only.
* `.iloc[ ]` is by position
* `.loc[ ]` is by name or condition

In [ ]:
y = pd.Series([1,2,3])
z = y[1:3]
z

In [ ]:
z[1]

In [ ]:
y.iloc[0]

In [ ]:
y.loc[1]

In [ ]:
z = pd.Series([1, 2, 3, 4], index = [3j, 2j, 1j, -1j])
z

In [ ]:
z[3j]

In [ ]:
z.loc[-1j]

In [ ]:
z.index

### Data Frames

A data frame is a table or a two-dimensional array-like structure in which each column contains values of one variable and each row contains one set of values from each column.

It represents tabular data as a collection of Series.

In [ ]:
df = pd.DataFrame({"x": [1, 2, 3], "y": ["a", "b", "c"]})
df

Data frames support the similar indexing methods as series. However, for indexing with `[ ]`,

* Scalar values get columns by name
* Conditions or slices get rows

In [ ]:
df.iloc[0,0]

In [ ]:
df[0:1]

In [ ]:
df["y"]

In [ ]:
df['x']

In [ ]:
df.iloc[0]

In [ ]:
df

In [ ]:
df.loc[:,"x"]

In [ ]:
df[df["x"] > 2] # more conventient

In [ ]:
df.loc[df['x']>2,:]  # more principled (?)

Since we are subsetting a DataFrame, a DataFrame is returned.

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
type(df)

In [ ]:
df.dtypes

More indexing and selection data using pandas can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-slicing-with-labels)

### Missing Data

Pandas represents missing data with `NaN` and `None`, but these values do not exclusively mean missing data. For instance, `NaN` stands for "Not a Number" and is also the result of undefined computations. Pay attention to your data and code to determine whether values are missing or have some other meaning.

You can create `NaN` values with NumPy.

In [ ]:
import numpy as np 
np.nan

In [ ]:
df = pd.DataFrame({"x": [1, np.nan, 2], "y": np.arange(3), "z": ["x", "y", None]})
df

Use the `.isna()` or `.isnull()` methods to detect missing values.

In [ ]:
df.isna()

In [ ]:
df.isnull()

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df

In [ ]:
(~df.isna()).sum().sum()

In [ ]:
df.isna().sum().sum() # how many are not missing

In [ ]:
df.sum().sum()

Lets deal with this warning.

In [ ]:
df.sum(numeric_only=True).sum()

### Data Alignment

Pandas supports vectorized operations, but elements are <b>automatically</b> aligned by index. **Beware!!** This is a major difference compared to R.

In [ ]:
x = pd.Series([1, 2, 3], index = ["a", "b", "c"])
y = pd.Series([1, 2, 3], index = ["b", "a", "c"])
x

In [ ]:
y

In [ ]:
x * y

You can use the `.reset_index()` method to reset the indexes on a series or data frame. Watch out: The method returns a new DataFrame, but does not overwrite the old object.

In [ ]:
x.reset_index().reset_index()# keep old index as a new column

In [ ]:
df.reset_index()

In [ ]:
y.reset_index(drop = True) # throw away the old index

### Reading Data

Pandas provides functions for reading (and writing) a variety of common formats. Most of their names begin with `read_`. For instance, we can read the dogs data from a CSV file:

In [16]:
dogs = pd.read_csv("./dogs_full.csv")

In [17]:
dogs.head()

,breed,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,grooming,kids,megarank_kids,megarank,size,weight,height
0,Border Collie,herding,3.64,45,39.0,20143.0,1.0,12.52,2.0,623.0,324.0,weekly,low,1.0,29.0,medium,NaN,20.0
1,Border Terrier,terrier,3.61,80,61.0,22638.0,30.0,14.00,0.0,833.0,324.0,weekly,high,2.0,1.0,small,13.5,NaN
2,Brittany,sporting,3.54,30,30.0,22589.0,19.0,12.92,0.0,618.0,466.0,weekly,medium,3.0,11.0,medium,35.0,19.0
3,Cairn Terrier,terrier,3.53,59,48.0,21992.0,35.0,13.84,2.0,435.0,324.0,weekly,high,4.0,2.0,small,14.0,10.0
4,Welsh Springer Spaniel,sporting,3.34,130,81.0,20224.0,31.0,12.49,1.0,750.0,324.0,weekly,high,5.0,4.0,medium,NaN,18.0

### Inspecting Data

Series and data frames provide many of the same methods and attributes as NumPy arrays.

For a data frame, the `.dtypes` attribute gives the column types.

The type "object" means some non-numeric Python object, often a string.

In [18]:
dogs.dtypes

breed                 object
group                 object
datadog              float64
popularity_all         int64
popularity           float64
lifetime_cost        float64
intelligence_rank    float64
longevity            float64
ailments             float64
price                float64
food_cost            float64
grooming              object
kids                  object
megarank_kids        float64
megarank             float64
size                  object
weight               float64
height               float64
dtype: object

There are also several methods for quickly summarizing data.

In [19]:
dogs.describe()

,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,megarank_kids,megarank,weight,height
count,87.000000,172.000000,87.000000,91.000000,132.000000,135.000000,148.000000,146.000000,87.000000,87.000000,87.000000,86.00000,159.000000
mean,2.603678,87.122093,44.000000,19819.538462,40.924242,10.956741,1.216216,876.815068,489.597701,43.954023,43.942529,44.97093,19.089623
std,0.570288,50.205335,25.258662,3102.475382,19.603560,1.995742,1.549810,461.172524,204.266894,25.288065,25.278153,35.52707,6.012400
min,0.990000,1.000000,1.000000,12653.000000,1.000000,6.290000,0.000000,283.000000,270.000000,1.000000,1.000000,5.00000,5.000000
25%,2.185000,43.750000,22.500000,17816.500000,27.000000,9.700000,0.000000,587.250000,324.000000,22.500000,22.500000,17.50000,14.000000
50%,2.710000,87.500000,44.000000,20087.000000,42.000000,11.290000,1.000000,795.000000,466.000000,44.000000,44.000000,35.00000,19.000000
75%,3.035000,130.250000,65.500000,21798.000000,54.250000,12.365000,2.000000,1042.250000,466.000000,65.500000,65.500000,62.50000,24.125000
max,3.640000,173.000000,87.000000,26686.000000,80.000000,16.500000,9.000000,3460.000000,1349.000000,87.000000,87.000000,175.00000,32.000000

First, get the string columns (`object`), then describe

In [20]:
dogs.select_dtypes(include = ["object"]).describe()

                breed    group grooming  kids    size
count             172      172      112   112     172
unique            172        7        3     3       3
top     Border Collie  terrier   weekly  high  medium
freq                1       28       88    67      60

In [21]:
dogs.select_dtypes(include = ["int64"]).describe()

       popularity_all
count      172.000000
mean        87.122093
std         50.205335
min          1.000000
25%         43.750000
50%         87.500000
75%        130.250000
max        173.000000

### Aggregation

Pandas also provides several methods for aggregating data, such as `.mean()`, `.median()`, `.std()`, and `.value_counts()`. They ignore missing values by default.

In [22]:
dogs.median(numeric_only=True)

datadog                  2.71
popularity_all          87.50
popularity              44.00
lifetime_cost        20087.00
intelligence_rank       42.00
longevity               11.29
ailments                 1.00
price                  795.00
food_cost              466.00
megarank_kids           44.00
megarank                44.00
weight                  35.00
height                  19.00
dtype: float64

In [23]:
dogs["price"].median()

795.0

In [24]:
dogs["group"].value_counts() # like R's table() with 1 arg

group
terrier         28
sporting        28
working         27
hound           26
herding         25
toy             19
non-sporting    19
Name: count, dtype: int64

For counting one group against another (crosstabulating), use `pd.crosstab()`.

In [25]:
pd.crosstab(dogs["group"], dogs["kids"]) # like R's table() with 2+ arg

kids          high  low  medium
group
herding         11    2       3
hound            8    1       6
non-sporting     7    0       4
sporting        17    1       3
terrier          9    0       9
toy              3    5       5
working         12    1       5

### Applying Functions

You can also use Pandas to apply your own aggregation functions to columns or rows.

* `.apply()` applies a function column-by-column or row-by-row.
* `.applymap()` applies a function element-by-element.

This is another way to vectorizing code, but only works for DataFrame.

In [26]:
def spread(x):
    '''Returns spread. Input is a single column (or row)'''
    return x.max() - x.min()
    
dogs.select_dtypes(include = ["float64", "int64"]).apply(spread)

datadog                  2.65
popularity_all         172.00
popularity              86.00
lifetime_cost        14033.00
intelligence_rank       79.00
longevity               10.21
ailments                 9.00
price                 3177.00
food_cost             1079.00
megarank_kids           86.00
megarank                86.00
weight                 170.00
height                  27.00
dtype: float64

### Grouping

Use the `.groupby()` method to group data before computing aggregate statistics.

In [27]:
dogs.head()

,breed,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,grooming,kids,megarank_kids,megarank,size,weight,height
0,Border Collie,herding,3.64,45,39.0,20143.0,1.0,12.52,2.0,623.0,324.0,weekly,low,1.0,29.0,medium,NaN,20.0
1,Border Terrier,terrier,3.61,80,61.0,22638.0,30.0,14.00,0.0,833.0,324.0,weekly,high,2.0,1.0,small,13.5,NaN
2,Brittany,sporting,3.54,30,30.0,22589.0,19.0,12.92,0.0,618.0,466.0,weekly,medium,3.0,11.0,medium,35.0,19.0
3,Cairn Terrier,terrier,3.53,59,48.0,21992.0,35.0,13.84,2.0,435.0,324.0,weekly,high,4.0,2.0,small,14.0,10.0
4,Welsh Springer Spaniel,sporting,3.34,130,81.0,20224.0,31.0,12.49,1.0,750.0,324.0,weekly,high,5.0,4.0,medium,NaN,18.0

In [28]:
dogs.groupby("group").mean(numeric_only=True).reset_index()

,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,megarank_kids,megarank,weight,height
0,herding,2.732000,99.880000,43.500000,20691.818182,21.812500,11.728824,2.235294,814.941176,490.900000,40.300000,42.600000,36.666667,19.730000
1,hound,2.373077,104.769231,52.692308,19365.769231,54.904762,10.793529,0.833333,746.571429,514.538462,54.769231,56.153846,63.833333,22.543478
2,non-sporting,2.488000,82.210526,38.600000,19315.800000,46.714286,10.976000,1.352941,930.500000,409.200000,46.300000,42.800000,27.928571,14.984375
3,sporting,2.976000,87.428571,46.066667,20299.312500,27.782609,10.895600,1.040000,760.125000,510.866667,27.466667,17.266667,51.966667,21.276786
4,terrier,2.787500,100.250000,58.416667,20504.333333,44.750000,11.480000,0.653846,905.760000,389.916667,37.166667,39.583333,23.413043,13.780000
5,toy,2.805385,54.052632,36.769231,19506.076923,48.647059,11.672941,1.000000,686.894737,343.230769,35.076923,49.000000,9.818182,10.533333
6,working,2.065000,71.111111,32.285714,19164.687500,41.529412,9.465909,1.772727,1235.708333,721.500000,66.571429,62.000000,105.000000,25.388889

By default, the groups become the index. You can keep them as regular columns by setting `as_index = False` when grouping.

In [29]:
dogs.groupby("group", as_index = False).mean(numeric_only=True)

,group,datadog,popularity_all,popularity,lifetime_cost,intelligence_rank,longevity,ailments,price,food_cost,megarank_kids,megarank,weight,height
0,herding,2.732000,99.880000,43.500000,20691.818182,21.812500,11.728824,2.235294,814.941176,490.900000,40.300000,42.600000,36.666667,19.730000
1,hound,2.373077,104.769231,52.692308,19365.769231,54.904762,10.793529,0.833333,746.571429,514.538462,54.769231,56.153846,63.833333,22.543478
2,non-sporting,2.488000,82.210526,38.600000,19315.800000,46.714286,10.976000,1.352941,930.500000,409.200000,46.300000,42.800000,27.928571,14.984375
3,sporting,2.976000,87.428571,46.066667,20299.312500,27.782609,10.895600,1.040000,760.125000,510.866667,27.466667,17.266667,51.966667,21.276786
4,terrier,2.787500,100.250000,58.416667,20504.333333,44.750000,11.480000,0.653846,905.760000,389.916667,37.166667,39.583333,23.413043,13.780000
5,toy,2.805385,54.052632,36.769231,19506.076923,48.647059,11.672941,1.000000,686.894737,343.230769,35.076923,49.000000,9.818182,10.533333
6,working,2.065000,71.111111,32.285714,19164.687500,41.529412,9.465909,1.772727,1235.708333,721.500000,66.571429,62.000000,105.000000,25.388889

You can group by multiple columns.

In [30]:
dogs.groupby(["group", "kids"]).mean(numeric_only=True).head()

                 datadog  popularity_all  popularity  lifetime_cost  \
group   kids
herding high    2.576667       96.000000   53.500000   21171.142857
        low     3.445000       52.500000   44.000000   20269.000000
        medium  2.485000       61.666667   13.000000   19437.000000
hound   high    2.295000       98.250000   54.166667   20165.500000
        low     3.190000        9.000000    9.000000   20113.000000

                intelligence_rank  longevity  ailments        price  \
group   kids
herding high               26.125  11.702000  2.111111   848.875000
        low                 5.500  12.095000  1.500000   576.500000
        medium             22.500  10.936667  5.000000   692.500000
hound   high               56.625  10.678571  1.000000  1028.714286
        low                49.000  12.630000  2.000000   423.000000

                 food_cost  megarank_kids   megarank  weight     height
group   kids
herding high    531.166667      48.833333  37.500000    31.0  19.909091
        low     395.000000       5.000000  40.500000     NaN  19.250000
        medium  466.000000      50.000000  60.000000     NaN  21.000000
hound   high    601.500000      60.666667  49.166667    72.5  22.785714
        low     324.000000      14.000000  54.000000    24.0        NaN

On groups, the `.apply()` method computes group-by-group. It is the most general form of two other methods:

* `.agg()`, which applies a function to each group to compute summary statistics
* `.transform()`, which applies a function to each group to compute transformations (such as standardization)

## Tidying a Dataset

Do Americans prefer low fat milk over whole milk?

The USDA publishes data about dairy production. We can answer the question with the [Milk Sales Dataset](https://www.ers.usda.gov/webdocs/DataFiles/48685/fluidmilk.xlsx?v=5010.6).

Many of Python's visualization packages expect [tidy data](https://vita.had.co.nz/papers/tidy-data.pdf), which means:

1. Each feature must have its own column.
2. Each observation must have its own row.
3. Each value must have its own cell.

Let's tidy up the Milk Sales Dataset so we can make a line plot that shows how milk sales have changed over time.

In [3]:
import numpy as np
import pandas as pd

/var/folders/nv/5j9xydr90s30r_9rw5pwhf640000gn/T/ipykernel_38948/1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
milk = pd.read_excel("./fluidmilk.xlsx")
milk.head()

,Fluid beverage milk sales quantities by product (millions of pounds),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Whole,Reduced-fat \n(2% milk fat),Low-fat \n(1% milk fat),Skim,Flavored \nwhole 1,"Flavored, \nother than whole",Buttermilk,Eggnog,Total 2
1,1975,36188,8726,2742,2480,1366,719,1011,76,53308
2,1976,35241,9556,2875,2524,1475,864,1021,87,53643
3,1977,34036,10423,3003,2617,1446,1062,1007,94,53688
4,1978,33235,11017,3233,2543,1359,1097,983,94,53561

In [5]:
milk = pd.read_excel("../data/fluidmilk.xlsx", skiprows = 1)
milk.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/fluidmilk.xlsx'

In [7]:
milk.columns

Index(['Fluid beverage milk sales quantities by product (millions of pounds)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [8]:
milk.columns = milk.columns.str.replace('\n', '')
milk.head()

,Fluid beverage milk sales quantities by product (millions of pounds),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Whole,Reduced-fat \n(2% milk fat),Low-fat \n(1% milk fat),Skim,Flavored \nwhole 1,"Flavored, \nother than whole",Buttermilk,Eggnog,Total 2
1,1975,36188,8726,2742,2480,1366,719,1011,76,53308
2,1976,35241,9556,2875,2524,1475,864,1021,87,53643
3,1977,34036,10423,3003,2617,1446,1062,1007,94,53688
4,1978,33235,11017,3233,2543,1359,1097,983,94,53561

In [ ]:
milk = milk.rename(columns=lambda x: x.strip(' 012'))
milk.head()

In [ ]:
milk = milk.rename(columns = {'Unnamed:': 'Year'})
milk.head()

In [ ]:
milk.columns.values[[2,3,5,6]] = np.array(['Reduced', 'Low', 
                                            'Flavored Whole', 'Flavored Other'])

In [ ]:
milk.head()

In [ ]:
milk.dtypes

In [ ]:
milk = milk.set_index('Year')

In [ ]:
milk.head()

In [ ]:
milk = pd.read_excel("../data/fluidmilk.xlsx", skiprows = 1)
milk.columns = milk.columns.str.replace('\n', '')
milk = milk.rename(columns=lambda df: df.strip(' 12'))
milk.columns.values[[0,2,3,5,6]] = np.array(['Year', 'Reduced', 'Low', 
                                             'Flavored Whole', 'Flavored Other'])
milk = milk[:-4] # get rid of the last four rows
milk = milk.set_index("Year") 
milk.head()

In [ ]:
milk = milk.stack() 
milk

In [ ]:
milk.index

In [ ]:
milk = milk.reset_index()
milk

In [ ]:
milk.columns.values[[False, True, True]] = np.array(["Kind", "Sales"])

In [ ]:
milk.head()

In [ ]:
milk.tail()